/* Normalize-like reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
body {
    background-color: chocolate;
    padding: 20px;
}
  
.container {
    max-width: 90%;
    margin: auto;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
button {
    padding: 10px 20px;
    cursor: pointer;
    color: burlywood;
}

button:hover{
    color: hotpink;
    background-color: thistle;
}

@media (max-width: 768px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.product-card, .top-product .product-card {
    background-color: coral;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
  
.product-card:hover {
    color: rosybrown;
    background-color: navajowhite;

}
.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
  
.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
}
  
.product-card p {
    margin: 5px 0;
}
  
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination button {
  padding: 15px 20px;
  margin: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button:hover {
  background-color: #0056b3;
}
.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.top-product {
    border: 1px solid ;
    border-radius: 8px;
    background-color:;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
}
  
.top-product h2 {
    margin-bottom: 10px;
}
  
